### Gradle ###
.gradle
**/build/
!**/src/**/build/
gradle-app.setting
!gradle-wrapper.jar
!gradle-wrapper.properties
.gradletasknamecache

### IntelliJ IDEA ###
.idea/
*.iml
*.ipr
*.iws
out/



### macOS ###
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*

### OS-specific temp files ###
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.swp
*.swo

### Logs ###
*.log
logs/
**/tmp/
**/temp/

### Java ###
*.class

### Misc ###
# Exclude test coverage, reports, and local env files
/build/
**/out/
*.hprof
*.orig
.env
.env.*
local.properties
